header {
  height: $header_height;
  padding: 0 10px;
  img {
    max-height: $header_height;
    padding: 10px 0;
  }

  nav {
    float: right;
      line-height: $header_height;

    a.btn {
      display: inline-block;
      line-height: 40px;
      padding: 0 10px;
      vertical-align: middle;

      &:not(:last-child):hover{
        border-bottom: 3px solid $limegreen;
      }
      &:last-child:hover{
        background-color: $light_orange;
      }
    }
    a.btn:last-child {
    color: white;
    background-color: $orange;
    }
  }
}

.diventa_sviluppatore {
  padding-left: 25%;
  padding-right: 25%;

  .sinistro,
  .destro {
    display: inline-block;
  }

  .destro {
  float: right;
 }

}
