
header {
  height: $header_height;
  padding: 0 10px;
  color: $darkblue;
  img.logo {
    max-height: $header_height;
    padding: 10px 0;
  }


  nav {
    float: right;
      line-height: $header_height;

    a.btn {
      display: inline-block;
      line-height: 40px;
      padding: 0 10px;
      vertical-align: middle;

      &:not(:last-child):hover{
        border-bottom: 3px solid $limegreen;
      }

      &:last-child:hover{
        background-color: $light_orange;
      }
    }
    a.btn:last-child {
    color: white;
    background-color: $orange;
    }
  }
}

.diventa_sviluppatore {
  height: 400px;
  width: 100%;
  padding-left: 25%;
  padding-right: 25%;
  vertical-align:baseline;

  .sinistro,
  .destro {
    display: inline-block;
  }

 .notebook_img {
   float: right;
   max-width: 300px;
 }
}

.partners {
  height: 200px;
  padding: 30px 0;
  background-color: #1b3c59;
}

.white {
  color: white;
  padding-bottom: 20px;
}
